doctype html
head
    style
      include ../public/css/style.css
      include ../public/css/logo.css
      include ../public/css/download.css
    script(language='javascript' src='js/bootstrap.min.js')
    link(rel='stylesheet' href='css/bootstrap.min.css')
.sidenav
  img(class="resize",src="/logo/stoppCorona.jpg", alt="logo")
  a(href='/upload') Upload
  a(href='/download') Download
  a(href='/') Documentation


